In [1]:
import pandas as pd

enrol_summary = pd.read_csv("enrol_summary.csv")
bio_summary   = pd.read_csv("bio_summary.csv")
demo_summary  = pd.read_csv("demo_summary.csv")

In [2]:
cross_df = enrol_summary.merge(
    bio_summary, on="district", how="left"
).merge(
    demo_summary, on="district", how="left"
)

cross_df.fillna(0, inplace=True)
cross_df.head()

             district  total_enrolment  total_biometric  total_population
0              100000              218              0.0               1.0
1  24 Paraganas North             6147              0.0               0.0
2  24 Paraganas South              490              0.0               0.0
3               ANGUL                1              5.0               9.0
4              ANUGUL               13            245.0             140.0

In [3]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

cross_df[["enrol_norm", "bio_norm", "demo_norm"]] = scaler.fit_transform(
    cross_df[["total_enrolment", "total_biometric", "total_population"]]
)

cross_df["governance_risk_score"] = (
    cross_df["enrol_norm"] * 0.4 +
    cross_df["bio_norm"] * 0.4 +
    (1 - cross_df["demo_norm"]) * 0.2
)

In [4]:
cross_df.sort_values(
    "governance_risk_score", ascending=False
).head(10)

,district,total_enrolment,total_biometric,total_population,enrol_norm,bio_norm,demo_norm,governance_risk_score
882,Thane,43688,571273.0,438907.0,1.000000,0.943065,1.000000,0.777226
709,Pune,31763,605762.0,426214.0,0.727036,1.000000,0.971080,0.696598
631,Nashik,22368,576606.0,239759.0,0.511983,0.951869,0.546264,0.676288
828,Sitamarhi,42232,182000.0,165304.0,0.966672,0.300448,0.376626,0.631523
63,Bahraich,39338,181078.0,126519.0,0.900428,0.298926,0.288259,0.622090
52,Aurangabad,27563,407803.0,255295.0,0.630897,0.673207,0.581661,0.605309
369,Jaipur,31146,355884.0,270703.0,0.712912,0.587498,0.616766,0.596811
358,Hyderabad,30830,334285.0,247214.0,0.705679,0.551842,0.563249,0.590359
829,Sitapur,30854,264311.0,165587.0,0.706228,0.436328,0.377271,0.581568
7,Agra,29910,235048.0,171023.0,0.684620,0.388020,0.389657,0.551125

In [5]:
cross_df.to_csv("district_governance_risk_index.csv", index=False)